@model act.core.web.Models.Report.Review
@{
    ViewBag.Title = "Review Compliance";
}
@section scripts{
    @Url.ViewJavascript("review")
}

<div>
    <h1>Review <span class="spec-name"></span></h1>
    <hr/>
    <div role="form">
        <div class="form-group form-group">
            <label for="environment" class="sr-only">Environment</label>
            <div class="input-group">
                <select id="environment" name="environment" class="form-control action-results on-visible" data-visibility-action="results">
                    @foreach (var e in Model.Environments)
                    {
                        if (e.Key == Model.EnvironmentId)
                        {
                            <option selected="selected" value="@e.Key" data-gather-url="@Url.JsonDataGatherForSpec(Model.SpecId, e.Key)" data-nodes-url="@Url.JsonAssignedNodeComplianceReports(Model.SpecId, e.Key)" data-review-url="@Url.PartialReviewData(Model.SpecId, e.Key)"><span style="color: @e.Value.color">@e.Value.name</span></option>
                        }
                        else
                        {
                            <option value="@e.Key" data-gather-url="@Url.JsonDataGatherForSpec(Model.SpecId, e.Key)" data-nodes-url="@Url.JsonAssignedNodeComplianceReports(Model.SpecId, e.Key)" data-review-url="@Url.PartialReviewData(Model.SpecId, e.Key)"><span style="color: @e.Value.color">@e.Value.name</span></option>                            
                        }
                    }
                </select>
                <div class="input-group-append">
                    <button class="action-retrieve btn btn-primary" title="Pull Latest Data From Chef"><i class="fa fa-hourglass-half"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div id="results">

    </div>
</div>
